---
title: Projects
description: Portfolio
layout: layouts/home.njk
tags:
  - nav
navtitle: HOME
---

<h1> PROJECTS </h1>

{% set postslist = collections.posts | head(-10) %}
{% include "postslist.njk" %}
